.sidebar{
    flex: 1;
    height: calc(100vh - 80px);
    background-color: #427650;
    position: sticky;
    top: 80px;
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .sidebarTitle {
    font-size: 30px;
    color: rgb(225, 231, 224);
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  
  .sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    color: rgb(246, 242, 242) !important;
    align-items: center;
    border-radius: 5px;
    text-decoration: none !important;
    
  }
  .sidebar a{
    /* font-size: 15px; */
    color: rgb(221, 244, 216);
    margin-left: 10px;
  }
  
  .sidebar a:hover{
    
      color: white;
    }

  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: rgb(4, 12, 6);
    color: white;

  }
  
  .sidebarIcon{
      margin-right: 5px;
      font-size: 28px !important;
  }

 